.animate {
}
.animate0 {
}
.animate1 {
}
.animate2 {
}
.animate3 {
}
.animate4 {
}
.animate5 {
}
.animate6 {
}

body {
	bakground-color: red;
	font-family: Courier New;
}

.sick-button-dude {
	height: 50;
	width: 100;
	background-color: blue;
	text-color: black;
}

a {
	color: black;
}

.back-red {
	background-color: red;
}

.back-green {
	background-color: green;
}

.back-blue {
	background-color: blue;
}

.back-yellow {
	background-color: yellow;
}

.back-pink {
	background-color: pink;
}

.back-orange {
	background-color: orange;
}

